@model Carlister.Web.ViewModels.Cars.CarDetailsViewModel
@{
    ViewBag.Title = "Car Details / Enquire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Details</h2>

<section>
    @{ Html.RenderPartial("~/Views/Car/_CarDetails.cshtml", Model.Car); }
</section>
<section>
    @{ Html.RenderPartial("~/Views/Enquiry/_Enquire.cshtml", Model.Enquiry); }
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
